@charset "UTF-8";

* {
  box-sizing: border-box;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body,
html {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  padding-top: 0;
  width: 100%;
}

h2 {
  text-align: center;
  font-size: 250%;
}

h3 {
  font-size: 200%;
}

h4 {
  font-size: 150%;
}

.articleNavbar {
  background-color: #f8f8f8;
}

nav {
  position: relative;
  z-index: 100;
}

#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 18px;
  transition: 0.4s;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.nav-links,
#logo {
  text-decoration: none;
  color: #1b2021;
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}

#logo {
  text-decoration: none;
  display: inline-block;
  font-size: 40px;
  margin-top: 10px;
  margin-left: 20px;
}

.nav-links {
  font-size: 20px;
}

.navbar-toggle {
  vertical-align: middle;
  position: absolute;
  top: 15px;
  right: 20px;
  cursor: pointer;
  color: #1b2021;
  font-size: 24px;
}

#chkToggle {
  display: none;
}

#chkToggle:checked+ul.main-nav {
  display: block;
}

li a:hover {
  text-decoration: none;
  color: #1b2021;
}

a {
  text-decoration: none;
  color: black;
}

.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #1b2021;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

.startHero {
  background-image: url("assets/vand.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.startHeroText {
  text-align: center;
  text-align-last: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.startHeroText h2 {
  margin-top: 15%;
}

.articleHero1 {
  background-image: url("assets/skov2.jpg");
  height: 40vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.articleHero2 {
  background-image: url("assets/dyr.jpg");
  height: 40vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.articleHero3 {
  background-image: url("assets/skov.jpg");
  height: 40vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.articleHeroText {
  text-align: center;
  text-align-last: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.articleHeroText h2 {
  margin-top: 15%;
}

.articleText {
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
}

.top-panel::before {
  content: '╲╱';
  color: #fff;
  position: absolute;
  opacity: 0.8;
  text-shadow: 0 0 .5rem rgba(0, 0, 0, 0.5);
  width: 6rem;
  font-size: 2rem;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  bottom: 2rem;
  margin-left: -3rem;
  left: 50%;
  animation: bounce 1s ease infinite;
  cursor: pointer;
}

@keyframes bounce {
  50% {
    transform: translateY(-50%);
  }

  100% {
    transform: translateY(0);
  }
}

.frontpageGrid {
  background-color: white;
  display: grid;
  text-align: center;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: -8px;
}

.frontpageGridText {
  width: 60%;
  text-align: left;
  margin: auto;
  text-align-last: center;
}

.frontpageGridImg {
  width: 100%;
}

.break {
  background: #177342;
  border: none;
  height: 7px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 50px;
  position: relative;
  text-align: center;
  top: 20px;
  width: 10%;
  border-radius: 50px;
}

hr {
  border: 0;
}

#ruter {
  padding-top: 2.5%;
  padding-bottom: -0.5%;
}

#ruter h2 {
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}

.blog {
  text-align-last: center;
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.blogGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2.5rem;
  margin: 2.5rem;
}

.blogImg {
  width: 100%;
}

.blogReadMore {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.callToAction {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  background-color: #177342;
  color: #FFFFFF;
  padding-top: 25px;
  padding-bottom: 20px;
  width: 100%;
  height: 100px;
}

.book {
  color: #177342;
  background-color: #FFFFFF;
  font-size: 25px;
  padding: 14px 40px;
  border-radius: 50px;
  font-weight: bold;
  text-decoration: none;
  margin: auto;
  margin-left: 25px;
  border: 2.5px solid;
}

.book:hover {
  color: #FFFFFF;
  background-color: #177342;
  border: 2.5px solid;
  transition-duration: 0.2s;
}

footer {
  margin-top: 5rem;
  list-style-type: none;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footerGrid {
  margin-top: 5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footerGridText {
  padding-left: 20%;
}

.footerGridText ul {
  font-size: 18px;
}

.footerGrid hr {
  border: none;
  height: 5px;
  text-align: left;
  top: 20px;
  width: 15%;
  border-radius: 50px;
}

.hr1 {
  background: #FCD20F;
}

.hr2 {
  background: #00933D;
}

.hr3 {
  background: #D10430;
}

.footerCopyright {
  margin-top: 4%;
  text-align: center;
  font-weight: bold;
  padding-bottom: 1%;
}

@media screen and (min-width: 1000px) {
  #navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  #chkToggle:checked+ul.main-nav {
    display: flex;
  }

  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 40px;
  }

  #logo {
    margin-top: 0;
  }

  .navbar-toggle {
    display: none;
  }

  .nav-links:hover {
    color: #1b2021;
    text-decoration: none;
  }
}

@media (max-width: 900px) {
  .desktopGridImage {
    display: none;
  }

  .blogGrid {
    grid-template-columns: repeat(1, 1fr);
  }

  .callToAction {
    display: none;
  }

  .footerGrid {
    grid-template-columns: repeat(1, 1fr);
  }

  .frontpageGrid {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
  }
}

@media (min-width: 900px) {
  .mobileGridImage {
    display: none;
  }
}