@charset "UTF-8";

/* CSS Document */
* {
    box-sizing: border-box;
    line-height: 1.6;
    margin: 0;
    padding: 0;

}

html {
    scroll-behavior: smooth;
}

body,
html {
    background-color: #f8f8f8;
    font-family: 'Bitter', serif;
    height: 100%;
    padding-top: 0;
    width: 100%;
}

h2 {
    font-size: 250%;

}

h3 {
    font-size: 200%;
}

h4 {
    font-size: 150%;
}

nav {
    position: relative;
    z-index: 100;

}

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 18px;
    transition: 0.4s;
}

.main-nav {
    list-style-type: none;
    display: none;
}

.nav-links,
.logo {
    text-decoration: none;
    color: #1b2021;
}

.main-nav li {
    text-align: center;
    margin: 15px auto;
}

.logo {
    text-decoration: none;
    display: inline-block;
    font-size: 35px;
    margin-top: 10px;
    margin-left: 20px;
}

.nav-links {
    font-size: 20px;
}

.navbar-toggle {
    vertical-align: middle;
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
    color: #1b2021;
    font-size: 24px;
}

#chkToggle {
    display: none;
}

#chkToggle:checked+ul.main-nav {
    display: block;
}

li a:hover {
    text-decoration: none;
    color: #1b2021;
}

.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #1b2021;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}

.startHero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/heroplaceholder.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.startHeroText {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.islandGrid {
    margin-top: 4%;
    display: grid;
    text-align: center;
    grid-template-columns: repeat(2, 1fr);
}

.islandText {
    width: 70%;
    margin: auto;
}


.slideShow {
    margin: auto;
}

/* Slideshow container */
.slideshow-container {
    max-width: 500px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@media (max-width: 900px) {
    .islandGrid {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1rem;
    }
}


@media screen and (min-width: 1000px) {
    #navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }

    #chkToggle:checked+ul.main-nav {
        display: flex;
    }

    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }

    .main-nav li {
        margin: 0;
    }

    .nav-links {
        margin-left: 40px;
    }

    .logo {
        margin-top: 0;
    }

    .navbar-toggle {
        display: none;
    }

    .nav-links:hover {
        color: #1b2021;
        text-decoration: none;
    }
}