@charset "UTF-8";

* {
    box-sizing: border-box;
    line-height: 1.6;
    margin: 0;
    padding: 0;

}

html {
    scroll-behavior: smooth;
}

body,
html {
    /* til at sikre css'en er sat ordentlig op */
    background-color: blue;
    height: 100%;
    padding-top: 0;
    width: 100%;
}